.section1{background:#00ffff;
}
.section h3{background:#0ffff0;}

.section2{background: #ffffff;}
.section2 h3{background: #ff00ff;}

.section3{background: #ffff00;}
.section3 h3{background: #f0000f;}
