

  
body{
	   background-color:red;
      margin: 0;
      padding:0;
	   }

/*div div{
          clear:right;
	       background-color:#ffff00;
	       width:100px;
         height: 100px;
	       padding: 10px;
       	border: 2px solid black;
	      margin: 30px;
        float:left;
    }
/*P{
 
}



div>h3{background-color:violet;
              float:right;
                margin-bottom: 5%;}


    h1{margin-bottom: 10%;
    float:center;}*/

/*@media(min-width: 992px;){
	.section1{ width:33.33%; }
	.section2{ width:33.33%; }
    .section3{ width:33.33%; }
    }

    @media(min-width: 768px) and(max-width: 991){
    	.section1{ width:50%; }
          .section2{ width:50; }
          .section3{ width:100; }
          @media(max-width: 767){
          	.section1{ width:100%; }
          	.section2{ width:100%; }
           .section3{ width:100%; }
}
}
          }
}
}
    }*/
