x
body{background-color: #ff00ff;}



/*.container div{
          
	       background-color:#A52A2A;
	       width:100px;
         height: 100px;
	       padding: 10px;
       	border: 2px solid black;
	      margin: 30px;
        float:left;
    }

 



h3{background-color:violet;
    margin-bottom: 5%;}


    h1{margin-bottom: 10%;}

/*@media(min-width: 992px;){
      	#box1{ width:33.33%; }
	      #box2{ width:33.33%; }
        #box3{ width:33.33%; }
    }

    @media(min-width: 768px) and(max-width: 991){
    	           #box1{ width:50%; }
                  #box2 {width:50; }
                  #box3{ width:100; }
          }
   @media(max-width: 767){
          	#box1{ width:100%; }
            #box2{ width:100%; }
           #box3{ width:100%; }
}

    */
